








body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-left {
  position: absolute;
  left: 0px;
  right: auto;
   height: 100vh;
   width: 20vw ;

}

.Activebtn{
  border-radius: 50%;
  bottom: 44px;
  position: fixed;
  right: 25px;
  width: 60px;
  height: 60px;
  background-color: rgb(75, 219, 255);
  font-size: 25px;
  display: flex;
  justify-content: center;
  justify-items: center;
   align-items: center;
  align-content: center; 
  border: 2px solid rgb(255, 255, 255)
  ;
}



.Activebtn:hover {
  color: rgb(255, 255, 255);
  width:80px;
  height: 80px;
}


